* {
    font-family: 'Times New Roman', Times, serif;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #047535, #d4f3db); 
    transition: background 0.5s ease;
}
.menu {
    overflow: hidden;
    background-color: #047535;
    font-size: 18px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}
.menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu a:hover {
    background-color: #ddd;
    color: #047535;
}
/*home page*/
.slider{
    position: fixed;
    width: 100%;
    top: 5%;
    left: 0;
}
.slider img {
    top: 5%;
    width: 100%;
    height: 50%; 
    display: block;
}
.infor {
    position: fixed;
    top: 72%;
    left: 0;
    width: 100%;
    display: flex;
    
}

.vis {
    position:fixed;
    margin: 0;
    width: 49%;
    height: 15%;
    left: 0;
    text-align: center;
    color: #ffffff;
}

.mis {
    position:fixed;
    width: 49%;
    height: 15%;
    left: 50%;
    text-align: center;
    color: #ffffff;
}
footer{
    background-color: #047535;
    position: fixed;
    width: 100%;
    height: 10%;
    margin: 0;
    left: 0;
    top: 90%;
    color: #ffffff;
}
dl{
    position: fixed;
    top: 89%;
    left: 10px;
    margin: 0;
}